@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: rgb(255, 255, 255);
  --slate-900: rgb(16, 23, 41);
  --slate-700: rgb(53, 65, 84);
  --slate-600: rgb(73, 85, 104);
  --slate-500: rgb(102, 116, 138);
  --slate-400: rgb(150, 163, 183);
  --slate-300: rgb(204, 213, 224);
  --slate-100: rgb(242, 245, 249);
  --gray-900: rgb(24, 24, 27);
  --gray-700: rgb(63, 63, 70);
  --gray-600: rgb(82, 82, 91);
  --gray-500: rgb(113, 113, 122);
  --gray-400: rgb(161, 161, 169);
  --gray-300: rgb(212, 212, 216);
  --gray-100: rgb(244, 244, 245);
  --emerald-900: rgb(30, 76, 60);
  --emerald-700: rgb(48, 117, 88);
  --emerald-600: rgb(62, 146, 107);
  --emerald-500: rgb(80, 181, 132);
  --emerald-400: rgb(101, 206, 156);
  --emerald-300: rgb(138, 227, 185);
  --emerald-100: rgb(216, 248, 230);
  --red-900: rgb(118, 39, 32);
  --red-700: rgb(172, 49, 35);
  --red-600: rgb(205, 62, 46);
  --red-500: rgb(223, 85, 73);
  --red-400: rgb(234, 123, 116);
  --red-300: rgb(242, 170, 166);
  --red-100: rgb(250, 227, 226);
}

[class='dark'] {
  --bgColor: rgb(18, 24, 38);
  --textColor: rgb(241, 242, 244);
  --slate-900: rgb(242, 245, 249);
  --slate-700: rgb(204, 213, 224);
  --slate-600: rgb(150, 163, 183);
  --slate-500: rgb(102, 116, 138);
  --slate-400: rgb(73, 85, 104);
  --slate-300: rgb(53, 65, 84);
  --slate-100: rgb(16, 23, 41);
  --gray-900: rgb(244, 244, 245);
  --gray-700: rgb(212, 212, 216);
  --gray-600: rgb(161, 161, 169);
  --gray-500: rgb(113, 113, 122);
  --gray-400: rgb(82, 82, 91);
  --gray-300: rgb(63, 63, 70);
  --gray-100: rgb(24, 24, 27);
  --emerald-900: rgb(216, 248, 230);
  --emerald-700: rgb(138, 227, 185);
  --emerald-600: rgb(101, 206, 156);
  --emerald-500: rgb(80, 181, 132);
  --emerald-400: rgb(62, 146, 107);
  --emerald-300: rgb(48, 117, 88);
  --emerald-100: rgb(30, 76, 60);
  --red-900: rgb(250, 227, 226);
  --red-700: rgb(242, 170, 166);
  --red-600: rgb(234, 123, 116);
  --red-500: rgb(223, 85, 73);
  --red-400: rgb(205, 62, 46);
  --red-300: rgb(172, 49, 35);
  --red-100: rgb(118, 39, 32);
}
