@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bgColor: rgb(255, 255, 255);
    --slate9: rgb(16, 23, 41);
    --slate7: rgb(53, 65, 84);
    --slate6: rgb(73, 85, 104);
    --slate5: rgb(102, 116, 138);
    --slate4: rgb(150, 163, 183);
    --slate3: rgb(204, 213, 224);
    --slate1: rgb(242, 245, 249);
    --gray9: rgb(24, 24, 27);
    --gray7: rgb(63, 63, 70);
    --gray6: rgb(82, 82, 91);
    --gray5: rgb(113, 113, 122);
    --gray4: rgb(161, 161, 169);
    --gray3: rgb(212, 212, 216);
    --gray1: rgb(244, 244, 245);
    --emerald9: rgb(30, 76, 60);
    --emerald7: rgb(48, 117, 88);
    --emerald6: rgb(62, 146, 107);
    --emerald5: rgb(80, 181, 132);
    --emerald4: rgb(101, 206, 156);
    --emerald3: rgb(138, 227, 185);
    --emerald1: rgb(216, 248, 230);
    --red9: rgb(118, 39, 32);
    --red7: rgb(172, 49, 35);
    --red6: rgb(205, 62, 46);
    --red5: rgb(223, 85, 73);
    --red4: rgb(234, 123, 116);
    --red3: rgb(242, 170, 166);
    --red1: rgb(250, 227, 226);
  }

  [class='dark'] {
    --bgColor: rgb(18, 24, 38);
    --slate9: rgb(242, 245, 249);
    --slate7: rgb(204, 213, 224);
    --slate6: rgb(150, 163, 183);
    --slate5: rgb(102, 116, 138);
    --slate4: rgb(73, 85, 104);
    --slate3: rgb(53, 65, 84);
    --slate1: rgb(16, 23, 41);
    --gray9: rgb(244, 244, 245);
    --gray7: rgb(212, 212, 216);
    --gray6: rgb(161, 161, 169);
    --gray5: rgb(113, 113, 122);
    --gray4: rgb(82, 82, 91);
    --gray3: rgb(63, 63, 70);
    --gray1: rgb(24, 24, 27);
    --emerald9: rgb(216, 248, 230);
    --emerald7: rgb(138, 227, 185);
    --emerald6: rgb(101, 206, 156);
    --emerald5: rgb(80, 181, 132);
    --emerald4: rgb(62, 146, 107);
    --emerald3: rgb(48, 117, 88);
    --emerald1: rgb(30, 76, 60);
    --red9: rgb(250, 227, 226);
    --red7: rgb(242, 170, 166);
    --red6: rgb(234, 123, 116);
    --red5: rgb(223, 85, 73);
    --red4: rgb(205, 62, 46);
    --red3: rgb(172, 49, 35);
    --red1: rgb(118, 39, 32);
  }
}

.button {
  @apply font-bold font-['Pretendard'] text-sm border gap-2 rounded-md;
}

.button-sm {
  @apply p-2;
}

.button-md {
  @apply px-4 py-2.5;
}

.button-lg {
  @apply w-[109px];
}

.button-round {
  @apply gap-1 px-1.5 py-1 font-medium text-xs rounded-xl flex justify-center items-center;
}

.button-white {
  @apply bg-bgColor text-slate6 border-slate6;
}

.button-emerald {
  @apply bg-emerald5 text-white border-emerald6;
}

.button-gray {
  @apply bg-slate4 text-white border-slate5;
}